Exit code: 0
Wall time: 0.2 seconds
Output:
parameters:
	ignoreErrors:
		-
			message: '#^Call to Capable_Core_Cpt_Activator\:\:activate\(\) on a separate line has no effect\.$#'
			identifier: staticMethod.resultUnused
			count: 1
			path: capable-core-cpt.php

		-
			message: '#^Call to Capable_Core_Cpt_Deactivator\:\:deactivate\(\) on a separate line has no effect\.$#'
			identifier: staticMethod.resultUnused
			count: 1
			path: capable-core-cpt.php

		-
			message: '#^Property Capable_Core_PostTypes\:\:\$plugin_name is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: includes/class-capable-core-cpt-post-types.php

		-
			message: '#^Property Capable_Core_PostTypes\:\:\$version is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: includes/class-capable-core-cpt-post-types.php
